@page "/animes"
@inherits BasePage
@implements EventAggregator.Blazor.IHandle<Events.DatabaseEvent>
@using Kitsu.Models

<link href="css/animes.css" rel="stylesheet" />

<div class="content">
    <div class="row">
        <div class="col text-center">
            <h2>Animes</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col text-center">
            <div class="alert alert-info" role="alert">
                <div class="row">
                    <div class="col" style="min-width: 0px;">
                        @if (_LibraryEntries?.Any() != true)
                        {
                            @:Please wait as we load your library...
                        }
                        else
                        {
                            @:You currently have @(_LibraryEntries.Count) animes in your library.
                        }
                    </div>
                 
                    <div class="col-auto d-flex align-items-center" style="min-width: 0px;">
                        @if (IsBusy)
                        {
                            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Small" />
                        }
                        else
                        {
                            <div style="margin-top: 2px;" @onclick="() => _FetchLibraries(true)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search for Anime" @bind="SearchFilter" @bind:event="oninput" />
        </div>
    </div>
    <br /><br />
    @if (_LibraryEntries?.Any() == true)
    {
        if (FilteredLibraryEntries.Any())
        {
            @foreach (var header in headerStates)
            {
                <div class="anime-header" @onclick="() => ToggleHeaderState(header.Title)">
                    <div class="anime-header-title">
                        <svg class="collapse-icon @(header.IsCollapsed ? "collapsed" : "")" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
                            <path d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                        @header.Title
                        <span class="anime-count">(@(header.Content?.Count ?? 0))</span>
                    </div>
                </div>
                <div class="anime-content @(header.IsCollapsed ? "collapsed" : "expanded")">
                    <div class="row">
                        @foreach (var libraryEntry in header.Content ?? new List<LibraryEntry>())
                        {
                            <div class="col-auto">
                                <div class="item-container" @onclick="() => _Anime_OnClicked(libraryEntry)">
                                    <AnimeCharacters.Components.AnimeTile Anime="@libraryEntry.Anime" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="d-flex justify-content-center">
                <h5 class="text-muted">No animes found</h5>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center">
            <div class="control">
                <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
            </div>
        </div>
    }
</div>
