@page "/characters/{id}"
@inherits BasePage
<link href="css/characters.css" rel="stylesheet" />

<div class="content">
    <div class="va-header">
        <img class="va-photo" src="@CurrentPerson?.Images?.GetOptimalImage()" />
        <div>
            <h4 class="text-secondary mb-1">@(CurrentPerson?.Name?.Full ?? "Loading...")</h4>
            <button class="btn btn-link show-more-btn" @onclick="ToggleDetails">@(_showDetails ? "Show Less" : "Show More")</button>
            <div class="va-details @(!_showDetails ? "collapsed" : string.Empty)">
                @if (CurrentPerson != null)
                {
                    @if (CurrentPerson.Age.HasValue)
                    {
                        <p class="mb-1">Age: @CurrentPerson.Age</p>
                    }
                    @if (CurrentPerson.DateOfBirth != null && !string.IsNullOrWhiteSpace(CurrentPerson.DateOfBirth.ToString()))
                    {
                        <p class="mb-1">Birth Date: @CurrentPerson.DateOfBirth</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(CurrentPerson.BloodType))
                    {
                        <p class="mb-1">Blood Type: @CurrentPerson.BloodType</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(CurrentPerson.Description))
                    {
                        <div class="mb-2">@((MarkupString)CurrentPerson.Description)</div>
                    }
                }
            </div>
        </div>
    </div>

    <br /><br /><br />
    <h3>Characters from My Anime</h3>
    <hr />

    @if (MyCharactersList?.Any() == true)
    {
        <div class="row">
            @foreach (var characterAnime in MyCharactersList)
            {
                <div class="col">
                    <div class="item-container">
                        <AnimeCharacters.Components.VoiceActorTile CharacterAnime="characterAnime" OnAnimeClicked="() => _OnAnimeClicked(characterAnime)" OnCharacterClicked="() => _OnCharacterClicked(characterAnime)" />
                    </div>
                </div>
            }
        </div>
    }

    @if (NotMyCharactersList?.Any() == true)
    {
        <div class="row">
            @foreach (var characterAnime in NotMyCharactersList)
            {
                <div class="col">
                    <div class="item-container">
                        <AnimeCharacters.Components.VoiceActorTile CharacterAnime="characterAnime" OnAnimeClicked="() => _OnAnimeClicked(characterAnime)" OnCharacterClicked="() => _OnCharacterClicked(characterAnime)" />
                    </div>
                </div>
            }
        </div>
    }

    @if (MyCharactersList?.Any() != true && NotMyCharactersList?.Any() != true)
    {
        <div class="d-flex justify-content-center">
            <div class="control">
                <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
            </div>
        </div>
    }
</div>