@using AnimeCharacters.Models

<div class="item">
    <div class="row">
        <div class="col" @onclick="_OnMediaClicked">
            @if (!string.IsNullOrWhiteSpace(Credit?.MediaImageUrl))
            {
                <img src="@Credit.MediaImageUrl" alt="@Credit.MediaTitle" />
            }
            else
            {
                <div class="tile-image-placeholder">@Credit?.MediaTitle</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col" @onclick="_OnCharacterClicked">
            @if (!string.IsNullOrWhiteSpace(Credit?.CharacterImageUrl))
            {
                <img src="@Credit.CharacterImageUrl" alt="@Credit.CharacterName" />
            }
            else
            {
                <div class="tile-image-placeholder">@Credit?.CharacterName</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col" @onclick="_OnMediaClicked">
            <div class="text-md-center text-primary">@(Credit?.MediaTitle ?? "Loading...")</div>
        </div>
    </div>
    <div class="row">
        <div class="col" @onclick="_OnCharacterClicked">
            <div class="text-md-center text-secondary">@(Credit?.CharacterName ?? "Loading...")</div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public VoiceActorCreditModel Credit { get; set; } = null;

    [Parameter]
    public EventCallback OnMediaClicked { get; set; }

    [Parameter]
    public EventCallback OnCharacterClicked { get; set; }

    void _OnMediaClicked()
    {
        OnMediaClicked.InvokeAsync();
    }

    void _OnCharacterClicked()
    {
        OnCharacterClicked.InvokeAsync();
    }
}
